header {
    font-family: calvino grande;
}

.intro-article {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    width: 18.625rem;

    text-align: center;
    font-size: 1.25rem;
    line-height: 140%;
}

.disclaimer-article {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
    width: 18.625rem;

    text-align: center;
    font-style: italic;
    font-size: 1rem;
    font-weight: 300;
    line-height: 137.5%;
}

.arrow {
    color: white;
    outline: 1px solid white;
    background: none;

    padding: 0.8rem 0.9rem;
    border-radius: 9999rem;

    border: none;

    /* positioneren */
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%);  
    z-index: 1; 

    cursor: pointer; 
}