/* header */
section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    margin-top: 1.7rem;

    width: auto;
    height: auto;
}

header {
    font-family: calvino grande;
    font-size: 1.2rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.7rem;
}

.quit {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}


/* middelste stuk text */
.intro-article {
    position: absolute;
    left: 50%;
    bottom: 56%;
    transform: translate(-50%);
    width: 18.625rem;

    text-align: center;
    font-size: 1.25rem;
    line-height: 140%;
}

/* onderste stuk text */
.disclaimer-article {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
    width: 18.625rem;

    text-align: center;
    font-style: italic;
    font-size: 1rem;
    font-weight: 300;
    line-height: 137.5%;
}

/* knop */
.links {
    /* positioneren */
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translate(-50%);  
    z-index: 1; 
    width: max-content;
}

.arrow {
    color: white;
    outline: 1px solid #555555;

    padding: 1rem 1rem;
    border-radius: 9999rem;

    cursor: pointer; 
}

/* redmesh */
.redmesh {
    position: absolute;
    top: 0;
    left: -10rem;

    filter: blur(5rem);
    scale: 130%;
    z-index: -1;
}